.CalendarDay {
    border: 1px solid #000000;
    height: 18%;
    background-color: white;

}

.CalendarDay:hover {
    background-color: whitesmoke;
}

.CalendarDay h2 {
    margin-left: -20%;
    margin-top: 0%;
    font-size: 1vw;

}

.WeekEnd {
    background-color: #C9C9C9;
    border: 1px solid #000000;
    height: 18%;
}

.WeekEnd h2 {
    margin-top: 0px;
    margin-left: -200%;
    font-size: 0.9vw;
}

.WeekDay {
    height: 5%;
    font-family: monospace;
    font-size: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #0D47A1);
}


.WeekDay p {
    color: white;
    font-size: 0.9vw;
    margin-left: -10%;
    text-shadow: 0 2px 2px #000;	
}

.WeekEndDay {
    height: 5%;
    font-family: monospace;
    font-size: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #0D47A1);
}

.WeekEndDay p {
    color: white;
    font-size: 0.9vw;
    margin-left: -100%;
    text-shadow: 0 2px 2px #000;	
}

.SideWeekDay {
    height: 5%;
}




.Container {
    height: 450px;
    width: 500px;
}

.GrayDiv {
    background-color: gray;
    border: 1px solid #000000;
    height: 18%;
}

.AbsenceLbl {
    border: 2px solid black;
    background-color: #5F021F;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 8%;
    margin-top: -10%;
    /*text*/
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 2px #000;	
    
    
}




dt {
    font-size: 100%;
}

.MonthsDiv {
    height: 10%;
}

.btn-circle {
  width: 2vw;
  height: 2vw;
  text-align: center;
  padding: 6px 0;
  font-size: 1vw;
  line-height: 1.428571429;
  border-radius: 30px;
  background-color: lightgray;
  border: 1px solid black;
}

.btn-circle:hover {
    background-color: #09CB20;
    border: 1px solid black;
}

.MainContainer {
    height: 760px;
    width: 60%;
    background-color: #DFAE5A;
    margin-left: 20%;
    border: 1px solid gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vw;
    margin-left: -1%;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.7vw;
}

h3 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.8vw;
    margin-top: 7%;
}