
.CalenderDay {
    border: 2px solid #000000;
    height: 18%;
}

.WeekDays {
    border: 2px solid #000000;
    height: 10%;
    font-family: monospace;
    font-size: 20px;
}

.Container {
    height: 700px;
    width: 600px;
    border: 2px solid aqua;
}


