@model ServiceGateways.Entities.Absence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Absence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<div class="btn btn-success">
    @Html.ActionLink("Redigier", "Edit", new { id = Model.Id }, new
{
    style = "text-decoration:none; color:white;"
})
</div>
<div class="btn btn-danger">
    @Html.ActionLink("Annuller", "Index", null, new
{
    style = "text-decoration:none; color:white;"
})
</div>
